.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #CB0BEF;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.color-rectangle:hover {
  cursor: pointer;
}

.no-hover:hover {
  cursor: default;
}

.container {
  min-height: 90vh;
  color: white;
  margin: auto;
  display: inline-flex;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
